<md-list style="background-color: #ffffff;">
  <h3 md-subheader>Contacts</h3>
  <md-list-item *ngFor="let contact of contacts">
    <md-icon md-list-icon>insert_photo</md-icon>
    <h4 md-line>{{ contact.name }}</h4>
    <p md-line>{{ contact.phone }}</p>

    <button md-button class="mat-icon-button" (click)="openChangeDialog(contact)"><md-icon>create</md-icon></button>
    <button md-button class="mat-icon-button" (click)="deleteContact(contact)"><md-icon>delete</md-icon></button>
  </md-list-item>
</md-list>
<button class="fab" md-fab (click)="openAddDialog()"><md-icon>add</md-icon></button>
