<form novalidate (ngSubmit)="onSubmit(debtForm)" [formGroup]="debtForm">
  <h3>Debt</h3>
  <md-input-container class="full-width">
    <input mdInput placeholder="Amount" type="text" formControlName="amount">
  </md-input-container>
  <md-select placeholder="Type" class="full-width" formControlName="type">
    <md-option *ngFor="let state of select" [value]="state.type">{{ state.name }}</md-option>
  </md-select>
  <md-input-container class="full-width">
    <input mdInput placeholder="Description" type="text" formControlName="description">
  </md-input-container>
  <button md-raised-button type="submit">Сохранить</button>
  <button md-raised-button (click)="closeForm()">Отменить</button>
</form>


